@model HRManager.tblTypeContract
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Edit", "TypeContract", FormMethod.Post))
{
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@Resources.Content.Update @Resources.Content.TypeContract</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                @Resources.Content.TypeContractCode  <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" name="ID" value="@Html.DisplayFor(model => model.ID)" readonly="readonly" class="form-control">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                @Resources.Content.NameContract VN <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" name="NameContractVN" value="@Html.DisplayFor(model => model.NameContractVN)" class="form-control" placeholder="@Resources.Content.NameContract VN">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                @Resources.Content.NameContract EN <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" name="NameContractEN" value="@Html.DisplayFor(model => model.NameContractEN)" class="form-control" placeholder="@Resources.Content.NameContract EN">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                @Resources.Content.QtyMonthContract <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="number" name="QtyMonth" value="@Html.DisplayFor(model => model.QtyMonth)" class="form-control" placeholder="@Resources.Content.QtyMonthContract">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                @Resources.Content.Status
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <select class="form-control" name="isActive">
                                    @if (Model.isActive == true)
                                    {
                                        <option selected value="1">@Resources.Content.Active</option>
                                        <option value="0">@Resources.Content.InActive</option>
                                    }
                                    else
                                    {
                                        <option value="1">@Resources.Content.Active</option>
                                        <option selected value="0">@Resources.Content.InActive</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                @if (HRManager.Common.setRole.Role_ContractCategory_update)
                                {
                                    <button type="submit" class="btn btn-success">@Resources.Content.Save</button>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}




