@model HRManager.tblDegree
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Create", "Degree", FormMethod.Post))
{
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@Resources.Content.Add @Resources.Content.Degree</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                @Resources.Content.DegreeName VN <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" name="DegreeVN" required class="form-control" placeholder="@Resources.Content.DegreeName VN">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                @Resources.Content.DegreeName EN <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" name="DegreeEN" required class="form-control" placeholder="@Resources.Content.DegreeName EN">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                @Resources.Content.Note <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" name="Note" class="form-control" placeholder="@Resources.Content.Note">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                @Resources.Content.Status
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <select class="form-control" name="isActive">
                                    <option selected value="1">@Resources.Content.Active</option>
                                    <option value="0">@Resources.Content.InActive</option>
                                </select>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <button type="submit" class="btn btn-success">@Resources.Content.Save</button>
                                <button class="btn btn-primary" type="button">@Resources.Content.Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}



