@model IEnumerable<HRManager.tblTimesheet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@Resources.Content.Timesheets</h3>
        </div>

        <div class="title_right">
            @if (HRManager.Common.setRole.Role_HRCategory_update)
            {
                <button type="button" class="btn btn-info btn-xs" style="float:right" data-toggle="modal" data-target="#createNewTimesheet"><i class="fa fa-plus"></i></button>
            }
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>@Resources.Content.Year</th>
                                            <th>@Resources.Content.Month</th>
                                            <th>@Resources.Content.TimesheetFromDate</th>
                                            <th>@Resources.Content.TimesheetToDate</th>
                                            <th>@Resources.Content.DateCreated</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.TimesheetYear)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TimesheetMonth)</td>
                                                <td>@Html.DisplayFor(modelItem => item.fromDate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.toDate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.DateCreate)</td>
                                                <td>
                                                    <a href="@Url.Action("Details", "Timesheets", new { id = item.ID })" class="btn btn-info btn-xs"><i class="fa fa-eye"></i>  </a>
                                                    <a href="" class="btn btn-danger btn-xs" onclick="return confirmDeleteTimesheet(@item.ID);"><i class="fa fa-trash-o"></i>  </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@*create new timesheet*@
<div class="modal fade" id="createNewTimesheet" tabindex="-1" role="dialog" aria-labelledby="newTimesheetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="uploadModalLabel">@Resources.Content.TimesheetCreate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form to select and upload Excel file -->
                @using (Html.BeginForm("Index", "Timesheets", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadForm" }))
                {
                    <div class="form-horizontal">
                        <div class="form-group" name="Fichier1">
                            <!-- COMPONENT START -->
                            <div class="form-group  col-md-12 col-sm-12">
                                <div class="col-md-3 col-sm-3 ">
                                    <label>@Resources.Content.Month</label>
                                </div>
                                <div class="col-md-9 col-sm-9 ">
                                    <select class="form-control" id="TimesheetMonth" name="TimesheetMonth" onchange="CheckTimesheetIsExist()">
                                        <option>@Resources.Content.Choose @Resources.Content.Month</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-sm-12">
                                <div class="col-md-3 col-sm-3 ">
                                    <label>@Resources.Content.TimesheetFromDate</label>
                                </div>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" value="@DateTime.Now.AddMonths(-1).ToString("yyyy/MM/27")" id="fromDate" name="fromDate" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-sm-12">
                                <div class="col-md-3 col-sm-3 ">
                                    <label>@Resources.Content.ToDate</label>
                                </div>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" id="toDate" value="@DateTime.Now.ToString("yyyy/MM/26")" name="toDate" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="float:right;margin-top:20px">
                            <input type="submit" value="@Resources.Content.Add" class="btn btn-info" id="submitButton" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

