
<div class="left_col scroll-view">
    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <img src="~/Uploads/Images/logo.png" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>@Resources.Content.Welcome,</span>
            <h2>
                @if (Session["UserName"] != null)
                {
                    @Session["UserName"].ToString()
                }
            </h2>
        </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>@Resources.Content.Function </h3>
            <ul class="nav side-menu">
                <li>
                    <a href="/Home/UserDashBoard">
                        <i class="fa fa-home"></i>
                        @Resources.Content.HomePage
                    </a>
                </li>

                <li>
                    <a><i class="fa fa-users"></i>@Resources.Content.OnLeave - @Resources.Content.Overtime <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/Timekeeping/Index">@Resources.Content.Timekeeping</a></li>
                        <li><a href="/Overtime/Index">@Resources.Content.Overtime</a></li>
                        <li><a href="/Leave/Index">@Resources.Content.OnLeave</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-users"></i>@Resources.Content.Salary <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/SalarySheet/SalaryByEmployee">@Resources.Content.FindSalary</a></li>
                    </ul>
                </li>
                @*<li>
                    
                    <a><i class="fa fa-users"></i>@Resources.Content.Stationery <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/Employee/Index">@Resources.Content.Request @Resources.Content.Stationery</a></li>
                        <li><a href="/Employee/Index">@Resources.Content.History @Resources.Content.Stationery</a></li>
                    </ul>
                </li>*@
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
</div>