@model IEnumerable<HRManager.tblTimeKeeper>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@Resources.Content.TimekeepingMachine</h3>
        </div>

        <div class="title_right">
            @if (HRManager.Common.setRole.Role_HRCategory_update)
            {
                <a href="@Url.Action("Create", "TimekeepingMachine")" class="btn btn-primary btn-xs" style="float:right">@Resources.Content.Add</a>
            }
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>@Resources.Content.TimekeepingName VN</th>
                                            <th>@Resources.Content.TimekeepingName EN</th>
                                            <th>@Resources.Content.Location</th>
                                            <th>@Resources.Content.Brand</th>
                                            <th>@Resources.Content.Model</th>
                                            <th>@Resources.Content.Status</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.TimeKeeperNameVN)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TimeKeeperNameEN)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Brand)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                                                <td>
                                                    @if (item.isActive == true)
                                                    {
                                                        <span>@Resources.Content.Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@Resources.Content.InActive</span>

                                                    }
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Details", "TimekeepingMachine", new { id = @item.ID })" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



